/* :root {
  --bg-red: rgb(255, 131, 131;
  --bg-blue: rgb(0, 50, 88) rgb(0, 50, 88);
} */

@media (max-width: 2560px) {
  .news__container {
    min-width: 1024px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
  }
  .nav ol {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0.5rem 0 0 5rem;
  }
  .nav ol li {
    padding: 1rem;
  }
  .nav ol li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.25rem;
  }
  .nav ol li a:hover {
    border-bottom: 1px solid rgb(0, 0, 0);
  }
  .news__section_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
  }
  .news__section_1 a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
    cursor: pointer;
    text-decoration: none;
  }
  .news__section_1 a b {
    font-size: 1.2rem;
    padding: 0.5rem;
    color: black;
  }
  .news__section_1 a h3 {
    font-size: 1.5rem;
    color: rgb(255, 131, 131);
    padding: 0.5rem;
  }
  .news__section_1 a span {
    font-size: 1.25rem;
    padding: 0.5rem;
    width: 80%;
    color: black;
  }

  .news__section_1 a img {
    width: 300px;
    height: 300px;
    border-radius: 5%;
    object-fit: cover;
  }
  .news__section_1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
  }
  .news__section_1 div a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 3rem;
    cursor: pointer;
    text-decoration: none;
  }
  .news__section_1 div a img {
    width: 150px;
    height: 150px;
    border-radius: 5%;
    object-fit: fill;
    margin: 1rem 0;
  }
  .news__section_1 div a div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .news__section_1 div a div b {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  .news__section_1 div a div h3 {
    font-size: 1.5rem;
    color: rgb(255, 131, 131);
    padding: 0.5rem;
  }
  .divider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    margin: 2rem 0 0 0;
  }
  .divider h3 {
    font-size: 1.35rem;
    font-weight: 700;
  }
  .divider div:nth-child(1) {
    border-top: 1px solid;
    width: 40vw;
    margin: 0 1rem;
  }
  .divider div:nth-child(3) {
    border-top: 1px solid;
    width: 45vw;
    margin: 0 1rem;
  }
  .news__section_2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    margin: 0 auto;
  }
  .news__section_2 a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30vw;
    margin: 0 auto;
    padding: 2rem;
    cursor: pointer;
    text-decoration: none;
  }
  .news__section_2 a b {
    padding: 1rem 0;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .news__section_2 a h3 {
    padding: 0.5rem 0;
    font-size: 1.5rem;
    color: rgb(255, 131, 131);
  }
  .news__section_2 a span {
    padding: 0.5rem 0;
    font-size: 1.25rem;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .news__section_2 a img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: rgb(255, 131, 131);
    margin: 2rem 0;
  }
  .footer div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30vw;
    margin: 2rem 0;
    padding: 1rem;
  }
  .footer div h2 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  .footer div a {
    font-size: 1.25rem;
    color: rgb(0, 50, 88);
    text-decoration: none;
    padding: 0.5rem 0;
  }
  .footer div address span {
    font-size: 1.25rem;
  }
}

/* CSS for devices w/ max-width of 768px */
@media (max-width: 768px) {
  .news__container {
    min-width: 540px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
  }
  .nav ol {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0.5rem 0 0 5rem;
  }
  .nav ol li {
    padding: 1rem;
  }
  .nav ol li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.25rem;
  }
  .nav ol li a:hover {
    border-bottom: 1px solid rgb(0, 0, 0);
  }
  .news__section_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
  }
  .news__section_1 a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40vw;
    cursor: pointer;
    margin: 1rem auto;
    text-indent: none;
  }
  .news__section_1 a b {
    font-size: 1.2rem;
    padding: 0.5rem;
    color: rgb(0, 0, 0);
  }
  .news__section_1 a h3 {
    font-size: 1.5rem;
    color: rgb(255, 131, 131);
    padding: 0.5rem;
  }
  .news__section_1 a span {
    font-size: 1.25rem;
    padding: 0.5rem;
    color: rgb(0, 0, 0);
    width: 80%;
  }

  .news__section_1 a img {
    width: 300px;
    height: 300px;
    border-radius: 5%;
    object-fit: cover;
  }
  .news__section_1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
  }
  .news__section_1 div a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 3rem;
    cursor: pointer;
  }
  .news__section_1 div a img {
    width: 150px;
    height: 150px;
    border-radius: 5%;
    object-fit: fill;
    margin: 1rem 0;
  }
  .news__section_1 div a div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .news__section_1 div a div b {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  .news__section_1 div a div h3 {
    font-size: 1.5rem;
    color: rgb(255, 131, 131);
    padding: 0.5rem;
  }
  .divider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    margin: 2rem 0 0 0;
  }
  .divider h3 {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0 1rem;
  }
  .divider div:nth-child(1) {
    border-top: 1px solid;
    width: 38vw;
    margin: 0;
  }
  .divider div:nth-child(3) {
    border-top: 1px solid;
    width: 35vw;
    margin: 0;
  }
  .news__section_2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    margin: 0 auto;
  }

  .news__section_2 a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
    margin: 0 auto;
    padding: 2rem;
    cursor: pointer;
    text-decoration: none;
  }
  .news__section_2 a b {
    padding: 1rem 0;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .news__section_2 a h3 {
    padding: 0.5rem 0;
    font-size: 1.5rem;
    color: rgb(255, 131, 131);
  }
  .news__section_2 a span {
    padding: 0.5rem 0;
    font-size: 1.25rem;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .news__section_2 a img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: rgb(255, 131, 131);
    margin: 2rem 0;
  }
  .footer div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30vw;
    margin: 1rem auto;
    padding: 1rem;
  }
  .footer div h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  .footer div a {
    font-size: 1.25rem;
    color: rgb(0, 50, 88);
    text-decoration: none;
    padding: 0.5rem 0;
  }
  .footer div address span {
    font-size: 1.25rem;
  }
}

/* CSS for devices w/ max-width of 425px */
@media (max-width: 425px) {
  .news__container {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
  }
  .nav ol {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0.5rem 0 0 1rem;
  }
  .nav ol li {
    padding: 0.25rem;
  }
  .nav ol li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.25rem;
  }
  .nav ol li a:hover {
    border-bottom: 1px solid rgb(0, 0, 0);
  }
  .news__section_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
  }
  .news__section_1 a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    cursor: pointer;
    margin: 2rem auto;
    text-decoration: none;
  }
  .news__section_1 a b {
    font-size: 1.2rem;
    padding: 0.5rem;
    color: rgb(0, 0, 0);
  }
  .news__section_1 a h3 {
    font-size: 1.5rem;
    color: rgb(255, 131, 131);
    padding: 0.5rem;
  }
  .news__section_1 a span {
    font-size: 1.25rem;
    padding: 0.5rem;
    width: 100%;
    color: rgb(0, 0, 0);
  }

  .news__section_1 a img {
    width: 300px;
    height: 300px;
    border-radius: 5%;
    object-fit: cover;
  }
  .news__section_1 div:nth-child(2) {
    display: none;
  }
  .divider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    margin: 2rem 0 0 0;
  }
  .divider h3 {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0 1rem;
  }
  .divider div:nth-child(1) {
    border-top: 1px solid;
    width: 30vw;
    margin: 0;
  }
  .divider div:nth-child(3) {
    border-top: 1px solid;
    width: 25vw;
    margin: 0;
  }
  .news__section_2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    margin: 0 auto;
  }

  .news__section_2 a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
    padding: 2rem;
    cursor: pointer;
    text-decoration: none;
  }
  .news__section_2 a b {
    padding: 1rem 0;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .news__section_2 a h3 {
    padding: 0.5rem 0;
    font-size: 1.5rem;
    color: rgb(255, 131, 131);
  }
  .news__section_2 a span {
    padding: 0.5rem 0;
    font-size: 1.25rem;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .news__section_2 a img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: rgb(255, 131, 131);
    margin: 2rem 0;
  }
  .footer div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    margin: 2rem 0;
    padding: 1rem;
  }
  .footer div h2 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  .footer div a {
    font-size: 1.25rem;
    color: rgb(0, 50, 88);
    text-decoration: none;
    padding: 0.5rem 0;
  }
  .footer div address span {
    font-size: 1.25rem;
  }
}
